.footer{
    padding: 32px 96px;  
    display: flex;
    flex-direction: column;
}

.footer-content{
    display: flex;
    justify-content: space-between;

    border-top: 1px solid #E5E7E9;
    border-bottom: 1px solid #E5E7E9;
    padding: 64px 0;
}

.footer-b2y{
    width: 35%;
}

.footer-logo{
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    color: #000000;
    letter-spacing: 2px;
}
.footer-logo span{
    color: tomato;
}
.footer-b2y p{
    font-size: 14px;
    margin: 12px 0;
}
.footer-social-links{
    display: flex;
    gap: 24px;
    margin: 36px 0;
}
.footer-social-links span{
    border: 2px solid #E2EAE8;
    border-radius: 12px;
    background-color: #FAF9F8;
    padding: 12px;
    box-shadow: 0px 4px 8px #E2EAE8;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    color: #000;
}

.footer-company,.footer-support{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-company h1, .footer-support h1{
    font-size: 16px;
    margin-bottom: 16px;
}

.footer-company p, .footer-support a{
    color: #000000;
    padding: 8px;
    display: inline-block;
    position: relative;
    font-size: 14px;
}
.footer-company p::after, .footer-support a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: tomato;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}  
  .footer-company p:hover::after, .footer-support a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;

  }
  



.copy-rights{
    font-size: 20px;
    text-align: center;
    padding: 24px 0;
}
.copy-rights span{
    color: tomato;
}
.arrow-up{

    align-self: flex-end;
    margin-right: 36px;
    border: 2px solid #E2EAE8;
    border-radius: 50%;
    background-color: #FAF9F8;
    padding: 12px;
    box-shadow: 0px 4px 8px #E2EAE8;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
}
.arrow-up:hover {
    transform: translateY(-5px); /* Adjust the distance for the hover effect */
  }



  @media screen and (max-width: 992px) {

  }



@media screen and (max-width: 596px) {
    .footer{
        padding: 16px;  
        display: flex;
        flex-direction: column;
    }
    
    .footer-content{
        display: flex;
        flex-direction: column;

        padding: 32px 0;
    }
    
    .footer-b2y{
        width: 100%;
    }
    

    .footer-social-links{
        width: 100%;
        max-width: 250px;
        display: flex;
        justify-content: space-between;
        margin: 36px auto;
    }
    .footer-social-links span{
        font-size: 16px;
    }
    
    .footer-company,.footer-support{
        width: 100%;
        margin: 32px 0;
    }
    
    .footer-company h1, .footer-support h1{
        font-size: 16px;
        margin-bottom: 8px;
    }
    

      
    
    
    
    .copy-rights{
        font-size: 14px;
        text-align: center;
        padding: 24px 0;
    }
    .copy-rights span{
        color: tomato;
    }
}